.username-header {
  font-size: 1.5em;
  text-align: center;
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.todos-card {
  margin-top: 5%;
  margin-left: 10%;
  margin-right: 10%;
  min-height: 380px;
}

.control-buttons {
  font-size: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 15%;
  font-weight: bolder;
}
.logout-button {
  background-color: darkcyan;
  width: 40%;
  border: 2px;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
  padding-top: 10px;
}
.logout-button:hover {
  background-color: rgb(253, 253, 253);
  text-decoration: underline;
}

.change-password-button {
  background-color: rgb(118, 139, 0);
  border: 2px;
  width: 40%;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}
.change-password-button:hover {
  background-color: rgb(253, 253, 253);
  text-decoration: underline;
}
.spinner {
  text-align: center;
}

.pages {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10%;
}

/* .limit-selection{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10x;
} */
.back-pagination,
.next-pagination {
  color: blue;
}

.back-pagination:hover,
.next-pagination:hover {
  font-weight: bolder;
  cursor: pointer;
}
